body {
    background: linear-gradient(90deg, #a61100 0%, rgb(139, 102, 0), #342300 100%);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header {
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    background-color: rgb(17, 17, 17);
    width: 100%;
    position: relative;
}

/* dit is de tekst/links dat op de header */
header a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
}

/* dit is de achtergrond van de frontpage */
#achtergrond-img {
    width: 70%;
    height: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 10%;
}

#achtergrond-img2 {
    width: 100%;
    height: 100%;
}

#tweede-pagina {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 95%;
}

#zwart-vlak-rechts {
    position: absolute;
    right: 2%;
    top: 10%;
    background-color: black;
    color: white;
    width: 20%;
    height: 80%;
    padding: 1%; /* Add padding */
    box-sizing: border-box; /*dit zorgt ervoor dat er padding is zonder dat de grootte verandert*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.img-title {
    height: 15%;
    width: 100%;
}

.img-voorbeeld {
    width: 100%;
    height: 40%;
}