header {
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    background-color: rgb(17, 17, 17);
    width: 100%;
    position: relative;
}

/* dit is de tekst/links dat op de header */
header a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
}