body {
    background-color: rgb(17, 17, 17) !important;
}

header {
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    background-color: rgb(17, 17, 17);
    width: 100%;
    border-bottom: 1px solid rgb(180, 0, 60);
    margin-bottom: 50px;
}


header a {
    margin: 0 15px;
    text-decoration: none;
    color: rgb(red, green, blue);
    
}

textarea {
    width: 40%;
    min-height: 50px;
    max-height: 500px;
    padding: 10px;
    box-sizing: border-box;
    resize: none; /* Voorkomt dat je het handmatig vergroot */
    background-color: #333; /* Dark background for the textarea */
    color: white; /* White text in the textarea */
    border: 1px solid #555; /* Light border for contrast */
    border-radius: 5px; /* Rounded corners */
    border-color: darkred;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #111; /* Dark background for the button */
    color: white; /* White text for the button */
    border: none;
    border-radius: 5px;
    border-color: darkred;
 
}

button:hover {
    background-color: darkred; /* Lighter shade on hover */
}