body {
    background-color: rgb(17, 17, 17) !important;
  }
  
  header {
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    background-color: rgb(17, 17, 17);
    width: 100%;
    border-bottom: 1px solid rgb(180, 0, 60);
    margin-bottom: 50px;
  }
  
  
  header a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
  }
  #playbutton {
    background-color: rgb(180, 0, 60);
    color: rgb(179, 7, 7);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }